<!DOCTYPE html>
<html lang="en" class="no-js">

<%- include('header'); -%>


  <body class=" ">
    <%- include('nav'); -%>
      <main class="l-main" id="main-content" tabindex="-1" role="main">
        <section class="l-content-w-sidebar ">
          <div class="l-content-w-sidebar__sidebar l-content-w-sidebar__sidebar--w-nav">
            <nav class="sidebar-nav">
              <div class="sidebar-nav__nav-items"> <a href="#message" class="">Message from the Director General</a>
                <div class="sidebar-nav__tertiary"></div> <a href="#mission">ECA Profile </a>
                <a href="#members">Board Members</a>
                <a href="#management">ECA Management</a>
                <a href="#stracture"> Organizational Structure</a>
                <a href="#directorates">Directorates</a>

              </div>
            </nav>
            <aside class="l-extra-sidebar-content"></aside>
          </div>
          <section class="l-content-w-sidebar__content ">
            <section class="l-content-w-sidebar__inner-content">
              <div class="l-content l-content--about" id='message'>
                <header class="image-header">
                  <img alt="About the Firm" srcset="img/about/EngineerBalcha-croped.jpg" sizes="(min-width: 980px) 100vw,
          100vw" style="width:100%;
          width:100%; object-fit: cover;">
                </header>
                <h1 class="heading heading--l">Message from the Director General</h1>

                <div class="l-content-grid l-content-grid--10-0 l-content-grid--introduction">
                  <div class="l-content-grid__col">
                    <p class="intro intro--m intro--strong">Dear valued Visitors, <br />

                    </p>
                    <p>Welcome to the website of the Ethiopian Communications Authority (ECA), the communications
                      service regulatory authority established through the Communications Service Proclamation No.
                      1148/2019 published on August 12, 2019.
                      I have the pleasure and honored to lead the newly established ECA as the first Director General in
                      this exciting period for our country: the opening of the telecommunications market. This process
                      will transform the lives of our people and we wish to develop an efficient regulatory framework
                      that will benefit end-users and attract innovative and competitive players of Telecommunications
                      sector.</p>

                    <p>As a Regulatory Authority with mandates to lead efforts in guiding the communications sector
                      activities in Ethiopia, the Ethiopian Communications Authority views that it is extremely
                      important that it makes itself accessible to all interested parties in real time.</p>
                    <p>party – relevant and up-to-date information on the mission and activities of the ECA;  news about
                      the telecommunication industry; stakeholder consultations regarding new regulatory directives; and
                      publications of enforced directives.</p>

                    <p>I encourage you to go through the site to learn more about ECA. I hope you find our website
                      useful in understanding ECA, our work, and our impact in Ethiopia to transparently and efficiently
                      regulate the communications sector and ensure fair competitive practices by all communications
                      service providers to promote accessibility and protect the interests of consumers while
                      maintaining high-quality communications services at affordable prices.
                      I wish to thank you on behalf of the ECA and myself, for your visit to our website.</p>
                
                    
                            <p>
                              Sincerely, <br />
                              Eng. Balcha Reba <br /> Director General
                              <div id='mission'></div>
                            </p>
                    
                   
               
                    </div>
                  
                </div>
            


  <div class="hr" ></div>
                <div>
   
                
                  <h1 class="heading heading--l">Our Vision</h1>

                  <div class="l-content-grid l-content-grid--10-0 l-content-grid--introduction">
                    <div class="l-content-grid__col">
                      <p class="intro intro--m intro--strong">Realizing a digitally competitive and innovative Ethiopia.
                      </p>
                    </div>
                  </div>




                </div>
                <div>

                  <h1 class="heading heading--l">Our Mission</h1>

                  <div class="l-content-grid l-content-grid--10-0 l-content-grid--introduction">
                    <div class="l-content-grid__col">
                      <p class="intro intro--m intro--strong">To transparently and efficiently regulate the
                        communications sector in Ethiopia and ensure fair competitive practices by all communications
                        service providers to promote accessibility and protect the interests of consumers, while
                        maintaining high-quality communications services at affordable prices.
                      </p>
                    </div>
                  </div>





                </div>
                <div>

                  <h1 class="heading heading--l">Our Values</h1>

                  <div class="l-content-grid l-content-grid--10-0 l-content-grid--introduction">


                    <div class="l-content-grid__col">
                      <p class="intro intro--m intro--strong"> <span style='color:#000'>
                          • Independence:
                        </span> To fairly regulate all service providers without external influence.
                      </p>

                    </div>
                    <div class="l-content-grid__col">
                      <p class="intro intro--m intro--strong"> <span style='color:#000'>
                          • Integrity:
                        </span> To promote creativity.
                      </p>

                    </div>
                    <div class="l-content-grid__col">
                      <p class="intro intro--m intro--strong"> <span style='color:#000'>
                          • Innovation:
                        </span> To promote creativity.
                      </p>

                    </div>
                    <div class="l-content-grid__col">
                      <p class="intro intro--m intro--strong"> <span style='color:#000'>
                          • Lead the Way:
                        </span> T With the ultimate goal to connect everyone and support others who are willing to
                        unleash our nation’s unbound communications potential, we are taking the lead to start something
                        new to Ethiopia, in an effort to change things for the betterment of our country.
                      </p>

                    </div>


                    <div class="l-content-grid__col">
                      <p class="intro intro--m intro--strong"> <span style='color:#000'>
                          • Public Stewardship:
                        </span> The ECA has been given a tremendous responsibility to be stewards of the public trust,
                        by working to transform the communications sphere within Ethiopia, as well as being the
                        architect of bold ideas.
                        Make an Impact: When every action – big or small – can make an impact, every action contributes
                        to building a nation that is a powerbroker. The ECA is committed to making impactful decisions
                        for the betterment of the Ethiopian society and the continent at large.
                      </p>

                    </div>
                    <div class="l-content-grid__col">
                      <p class="intro intro--m intro--strong"> <span style='color:#000'>
                          • Selfless Approach:
                        </span> Almost all of ECA’s mandate and its work requires collaboration with others within our
                        nation, across various sectors, and with our stakeholders; when we win, we win together. The
                        ECA’s vision in this regard resembles that of our nation: “Ethiopia, the ‘New Horizon of Hope.”
                      </p>

                    </div>
                    <div class="l-content-grid__col">
                      <p class="intro intro--m intro--strong"> <span style='color:#000'>
                          • Caring for the Success of All:
                        </span> We have a genuine commitment to the success of each partner, company, operator, our
                        leadership, stakeholders, our communities and most importantly, our country.
                      </p>

                    </div>
                  </div>

                 

                 

                  


<div id='members'></div>

                </div>


                <div class="hr"></div>
              
                <div class="members" >
                  <h1 class="heading heading--l">Board Members</h1>
                  <div class="board__members">

                    <div class="leader__container">
                      <img srcset="img/about/EngineerBalcha-croped.jpg" alt="" class="leader__img">
                      <h1 class="name">Lorem ipsum </h1>
                      <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. A vero</h3>
                    </div>
                    <div class="leader__container">
                      <img srcset="img/news/4.jpg" alt="" class="leader__img">
                      <h1 class="name">Lorem ipsum </h1>
                      <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. A vero</h3>

                    </div>
                    <div class="leader__container">
                      <img srcset="img/about/EngineerBalcha-croped.jpg" alt="" class="leader__img">
                      <h1 class="name">Lorem ipsum </h1>
                      <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. A vero</h3>

                    </div>
                    <div class="leader__container">
                      <img srcset="img/about/EngineerBalcha-croped.jpg" alt="" class="leader__img">
                      <h1 class="name">Lorem ipsum </h1>
                      <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. A vero</h3>
                    </div>
                    <div class="leader__container">
                      <img srcset="img/news/4.jpg" alt="" class="leader__img">
                      <h1 class="name">Lorem ipsum </h1>
                      <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. A vero</h3>

                    </div>
                    <div class="leader__container">
                      <img srcset="img/about/EngineerBalcha-croped.jpg" alt="" class="leader__img">
                      <h1 class="name">Lorem ipsum </h1>
                      <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. A vero</h3>
                      <div id='management'></div>
                    </div>

                  </div>
                </div>
                <br >

                <div>

                  <h1 class="heading heading--l">ECA Management</h1>

                  <div class="l-content-grid l-content-grid--10-0 l-content-grid--introduction">
                    <div class="l-content-grid__col">
                      <p class="intro intro--m intro--strong">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed
                        do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                    </div>
                  </div>

                  <section class="l-content-grid l-content-grid--10-0 l-content-grid--text">
                    <div class="l-content-grid__col">
                      <article class="text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                          laboris
                          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                          velit
                          esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                          sunt
                          in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                      </article>
                    </div>
                  </section>
              
                  <div class="hr"></div>
                
                  <section class="l-content-grid l-content-grid--10-0 l-content-grid--text">
                    <div class="l-content-grid__col">
                      <div id='stracture'></div>
                      <article class="text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                          laboris
                          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                          velit
                          esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                          sunt
                          in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                     
                      </article>
                    </div>
                  </section>


         

                </div>


                <div >

                  <h1 class="heading heading--l">Organizational Structure</h1>

                  <div class="l-content-grid l-content-grid--10-0 l-content-grid--introduction">
                    <div class="l-content-grid__col">
                      <p class="intro intro--m intro--strong">
                        Get our organizational structure <a href="">here</a>
                      </p>
                    </div>
                  </div>

                  <section class="l-content-grid l-content-grid--10-0 l-content-grid--text">
                    <div class="l-content-grid__col">
                      <article class="text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                          laboris
                          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                          velit
                          esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                          sunt
                          in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                      </article>
                    </div>
                  </section>

                  <div class="hr"></div>

                  <section class="l-content-grid l-content-grid--10-0 l-content-grid--text">
                    <div class="l-content-grid__col">
                      <article class="text">
                        <div id="directorates"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                          laboris
                          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                          velit
                          esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                          sunt
                          in culpa qui officia deserunt mollit anim id est laborum.
                        
                        </p>
                      
                      </article>
                    </div>
                  </section>




                </div>



                <section class="l-content-grid l-content-grid--10-0 l-content-grid--text" >
                  <h1 class="heading heading--l">Directorates</h1>

                  <section class="l-content-grid l-content-grid--4-4-4" style='margin-top:50px'>
                    <div class="l-content-grid__col">
                      <a href="" class="feature">
                        <figure class="feature__image">
                          <img alt="" srcset="img/news/2.jpg" sizes="(min-width: 980px) 30vw,
           100vw">
                        </figure>
                        <h3 class="feature__title">Lorem ipsum is placeholder text commonly used in the graphic, print,
                          and
                          publishing industries</h3>

                      </a>
                    </div>


                    <div class="l-content-grid__col">
                      <a href="" class="feature">
                        <figure class="feature__image">
                          <img alt="" srcset="img/news/3.jpg" sizes="(min-width: 980px) 30vw,
           100vw">
                        </figure>
                        <h3 class="feature__title">Lorem ipsum is placeholder text commonly used in the graphic, print,
                          and
                          publishing industries</h3>

                      </a>
                    </div>


                    <div class="l-content-grid__col">
                      <a href="" class="feature">
                        <figure class="feature__image">
                          <img alt="" srcset="img/news/4.jpg" sizes="(min-width: 980px) 30vw,
           100vw">
                        </figure>
                        <h3 class="feature__title">Lorem ipsum is placeholder text commonly used in the graphic, print,
                          and
                          publishing industries</h3>

                      </a>
                    </div>


                  </section>
                </section>

              </div>
            </section>
          </section>
        </section>
        <%- include('footer'); -%>
      </main>
      </div>

      <script src="dist/scripts/app-0b1e4679f438944fb96c.js"></script>
  </body>

</html>