<!DOCTYPE html>
<html lang="en" class="no-js">
  <%- include('header'); -%>

  <body>
    <%- include('nav'); -%>

    <div class="contact-with-map" style="">
      <div class="contact__page">
        <div
          class="contact__left"
          style="display: flex; flex-direction: column"
        >
          <h1 class="heading heading--l contact-header">Contact Us</h1>
          <span
            class="adress__name"
            style="
              margin: 0 auto;
              color: rgb(0 82 117 / 68%);
              line-height: 60px;
            "
          >
            On the Road that leads from Edna Mall Square<br />
            to Africa Avenue,
            <br />
            Bole Subcity, Woreda 03, House Number 2483,
            <br />
            Robel Plaza Building
            <br />

            Addis Ababa
          </span>
        </div>

        <div class="contact__content" style="padding-top: 80px">
          <span class="adress__name">
            Tel: +251 11 692 8043 <br />Fax: +251 11 692 8045 <br />
            P.O. Box 9991,</span
          >
        </div>
      </div>
      <div style="width: 100%; padding: 60px 0">
        <iframe
          width="100%"
          height="600"
          frameborder="0"
          scrolling="no"
          marginheight="0"
          marginwidth="0"
          src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=8.995421,%2038.785451+(Ethiopian%20Communication%20Authority)&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
        ></iframe>
      </div>
    </div>

    <footer class="footer">
      <div class="footer__section footer__section--top">
        <div
          class="scroll-btn scroll-btn--label scroll-btn--up is-visible js-back-to-top-link"
        >
          <div class="scroll-btn__label link">Back to Top</div>
        </div>
        <div
          class="footer__blocks"
          style="grid-template-columns: 1fr 1fr 1fr 1fr"
        >
          <div class="footer__block">
            <div class="footer-links">
              <h4 class="footer-links__heading">
                <a
                  href="contact.html"
                  class="footer-links__heading"
                  style="border: none"
                  >Contact</a
                >
              </h4>
            </div>
          </div>

          <div class="footer__block">
            <div class="footer-links">
              <h4 class="footer-links__heading">
                <a
                  href="about.html"
                  class="footer-links__heading"
                  style="border: none"
                  >About us</a
                >
              </h4>
            </div>
          </div>
          <div class="footer__block">
            <div class="footer-links">
              <h4 class="footer-links__heading">
                <a
                  href=" resource.html#guide-lines"
                  class="footer-links__heading"
                  style="border: none"
                  >Guidelines</a
                >
              </h4>
            </div>
          </div>
          <div class="footer__block">
            <div class="footer-links">
              <h4 class="footer-links__heading">
                <a
                  href=" about.html#mission"
                  class="footer-links__heading"
                  style="border: none"
                  >Careers</a
                >
              </h4>
            </div>
          </div>
          <div class="footer__block">
            <div class="footer-links">
              <h4 class="footer-links__heading">
                <a
                  href="postal.html"
                  class="footer-links__heading"
                  style="border: none"
                  >Postal</a
                >
              </h4>
            </div>
          </div>
          <div class="footer__block">
            <div class="footer-links">
              <h4 class="footer-links__heading">
                <a
                  href="news.html"
                  class="footer-links__heading"
                  style="border: none"
                  >Media center</a
                >
              </h4>
            </div>
          </div>

          <div class="footer__block">
            <div class="footer-links">
              <h4 class="footer-links__heading">
                <a
                  href="resource.html#laws"
                  class="footer-links__heading"
                  style="border: none"
                >
                  Knowledge Center</a
                >
              </h4>
            </div>
          </div>

          <div class="footer__block">
            <div class="footer-links">
              <h4 class="footer-links__heading">
                <a
                  href="  guide.html"
                  class="footer-links__heading"
                  style="border: none"
                >
                  Consumer Affairs</a
                >
              </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__social-icons">
        <ul>
          <li>
            <a
              href=""
              class="social-icon"
              target="_blank"
              rel="noopener noreferrer"
            >
              <span class="u-isVisuallyHidden">Facebook</span>
              <svg>
                <use xlink:href="#sprites_social-g" />
              </svg>
            </a>
          </li>
          <li>
            <a
              href=""
              class="social-icon"
              target="_blank"
              rel="noopener noreferrer"
            >
              <span class="u-isVisuallyHidden">Twitter</span>
              <svg>
                <use xlink:href="#sprites_social-twitter" />
              </svg>
            </a>
          </li>
          <li>
            <a
              href=""
              class="social-icon"
              target="_blank"
              rel="noopener noreferrer"
            >
              <span class="u-isVisuallyHidden">Instagram</span>
              <svg>
                <use xlink:href="#sprites_social-instagram" />
              </svg>
            </a>
          </li>
          <li>
            <a
              href=""
              class="social-icon"
              target="_blank"
              rel="noopener noreferrer"
            >
              <span class="u-isVisuallyHidden">LinkedIn</span>
              <svg>
                <use xlink:href="#sprites_social-linkedin" />
              </svg>
            </a>
          </li>
          <li>
            <a
              href=""
              class="social-icon"
              target="_blank"
              rel="noopener noreferrer"
            >
              <span class="u-isVisuallyHidden">YouTube</span>
              <svg>
                <use xlink:href="#sprites_social-youtube" />
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div
        class="footer__section footer__section--bottom"
        style="margin-top: 10px"
      ></div>
    </footer>
    <!-- <script type="text/javascript">
      var lastScrollTop = 0;
      navbar = document.getElementById(
        'nav-holder'
      );
      window.addEventListener(
        'scroll',
        function () {
          var scrollTop =
            window.pageYOffset ||
            document.getElement.scrollTop;
          if (scrollTop > lastScrollTop) {
            navbar.style.top = '-110px';
          } else {
            navbar.style.top = '0';
          }
          lastScrollTop = scrollTop;
        }
      );
    </script> -->
  </body>
</html>
