<!DOCTYPE html>
<html lang="en" class="no-js">
  <%- include('header'); -%>

  <body>
    <%- include('nav'); -%>

    <div class="contact-with-map" style="">
      <div class="contact__page">
        <div
          class="contact__left"
          style="display: flex; flex-direction: column"
        >
          <h1 class="heading heading--l contact-header">Contact Us</h1>
          <span
            class="adress__name"
            style="
              margin: 0 auto;
              color: rgb(0 82 117 / 68%);
              line-height: 60px;
            "
          >
            On the Road that leads from Edna Mall Square<br />
            to Africa Avenue,
            <br />
            Bole Subcity, Woreda 03, House Number 2483,
            <br />
            Robel Plaza Building
            <br />

            Addis Ababa
          </span>
        </div>

        <div class="contact__content" style="padding-top: 80px">
          <span class="adress__name">
            Tel: +251 11 692 8043 <br />Fax: +251 11 692 8045 <br />
            P.O. Box 9991,</span
          >
        </div>
      </div>
      <div style="width: 100%; padding: 60px 0">
        <iframe
          width="100%"
          height="600"
          frameborder="0"
          scrolling="no"
          marginheight="0"
          marginwidth="0"
          src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=8.995421,%2038.785451+(Ethiopian%20Communication%20Authority)&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
        ></iframe>
      </div>
    </div>

    <%- include('footer'); -%>
  </main>
  </div>

  <script src="dist/scripts/app-0b1e4679f438944fb96c.js"></script>
</body>

</html>