<!DOCTYPE html>
<html lang="en" class="no-js">
  <%- include('header'); -%>
  <link rel="stylesheet" href="faq.css" />
  <body>
    <main style="min-height: 60vh; padding-top: 150px; padding-bottom: 8vw">
      <h1
        class="heading heading--l"
        style="width: fit-content; margin: 0 10%; margin-bottom: 5vw !important"
      >
        Frequently Asked Questions
      </h1>
      <div class="row">
        <div class="col">
          <div class="tabs">
            <div class="tab">
              <input type="radio" id="rd1" name="rd" />
              <label class="tab-label" for="rd1"
                >What does liberalizing the telecoms sector mean?</label
              >
              <div class="tab-content">
                The concept of “telecommunications liberalization” means
                introducing competition into the telecoms sector by allowing
                commercial enterprises to set up new telecoms businesses as long
                as they comply with government-defined policies, laws,
                regulations, and directives. The Ethiopian Communications
                Authority (ECA) has sought interest from international
                telecommunications operators to manage two new telecoms licenses
                in Ethiopia, which would potentially allow three operators with
                licenses to deliver telecommunications services in Ethiopia:
                Ethio Telecom and two new license holders. On 22 May 2021 one
                license was awarded to the Global Partnership for Ethiopia, out
                of the potential two available. The launch of another tender
                process is currently under consideration for the second license.
                Liberalization of the telecommunications sector should not be
                confused with the partial privatization of Ethio Telecom.
                Issuing the first new license (to the Global Partnership for
                Ethiopia) is taking place simultaneously, in addition to the
                partial privatization of Ethio Telecom, which is a separate
                process. Liberalization of the sector aims to enable Ethiopia to
                maximize the transformational opportunities presented by the
                digital economy. Opening of the sector to healthy competition
                will lead to improved telecommunications services and with the
                passage of the Communications Service Proclamation (the “CSP” or
                “Proclamation”) on 12 August 2019, the Ethiopian Government
                effectively lifted restrictions on the telecommunications
                sector, allowing local and international telecommunications
                operators to take part and offer their services in Ethiopia for
                the first time in the nation’s history. The Ethiopian
                Communications Authority (ECA) was established by the CSP as an
                independent federal government regulatory authority. This
                Proclamation mandated the ECA to regulate the telecommunications
                sector and as set out in its objectives, to promote: the
                development of high quality, efficient, reliable and affordable
                communications services throughout the nation; a competitive
                market for the achievement of these goals; both accessibility
                and the interests of customers. The ECA is also mandated to
                manage the liberalization process.
              </div>
            </div>
            <div class="tab">
              <input type="radio" id="rd2" name="rd" />
              <label class="tab-label" for="rd2"
                >Why is Ethiopia doing this? Why do we need competition?</label
              >
              <div class="tab-content">
                After careful examination of all the different available
                options, the Government of Ethiopia reached the decision that
                liberalizing Ethiopia’s telecoms sector is the best way forward
                to bring improved connectivity for Ethiopians. Greater
                competition helps to grow markets and brings with it economic
                and social benefits. New expertise and more competition will
                help us develop our telecommunications sector faster so we can
                embrace e-commerce and digital payments as other countries
                across Africa and other parts of the world have successfully
                done. Introducing competition to the sector will lead to
                improved service delivery so that Ethiopians now and in the
                future have reliable, efficient and high-quality
                telecommunications services leading to a better quality of life.
                On a national level, opening up Ethiopia’s telecommunications
                sector to competition and private sector participation will
                enable us to unlock the transformational power of the digital
                economy, creating jobs and paving the way for digital services
                in areas such as health, education and finance.
              </div>
            </div>
            <div class="tab">
              <input type="radio" id="rd4" name="rd" />
              <label class="tab-label" for="rd4">
                Who has won the license/s?</label
              >
              <div class="tab-content">
                The first license has been awarded to the Global Partnership for
                Ethiopia - a private international consortium of
                telecommunications giants led by Kenya's Safaricom in
                partnership with Vodacom Group (South Africa), Vodafone Group
                (UK), Sumitomo Corporation (Japan), CDC Group (UK).
                <a
                  href="https://eca.et/2021/05/22/press-release-telecommunications-service-operator-license-award/"
                >
                  See announcement of the winning bid here</a
                >
                The launch of another tender process is currently under
                consideration for the second license.
              </div>
            </div>

            <div class="tab">
              <input type="radio" id="rd5" name="rd" />
              <label class="tab-label" for="rd5">
                When will they start operating?
              </label>
              <div class="tab-content">
                The Global Partnership for Ethiopia will now play an important
                role in the most ambitious growth phase of our economy, aiming
                to start providing telecommunications services from 2022, and
                investing USD8.5 billion over the next decade.
                <a
                  href="https://eca.et/2021/05/22/press-release-telecommunications-service-operator-license-award/"
                >
                  here</a
                >
                The launch of another tender process is currently under
                consideration for the second license.
              </div>
            </div>

            <div class="tab">
              <input type="radio" id="rd6" name="rd" />
              <label class="tab-label" for="rd6">
                Why is this taking place at this moment?</label
              >
              <div class="tab-content">
                Liberalization of Ethiopia’s telecoms sector is part of the
                government’s 2019 Home Grown Economic Reform Agenda (“2019
                Reform Agenda”), which highlights the role of the private sector
                in driving sustained growth and creating jobs. Addressing the
                bottlenecks related to productivity, quality and competitiveness
                is critical to enable the private sector to fully utilize
                opportunities available for sustainable development and
                transformation. Expansion of Information and Communication
                Technology (“ICT”) infrastructure across the nation is also
                specified in the 2019 Reform Agenda as one of the goals of
                digital transformation and it is particularly important to
                ensure telecommunications infrastructure and services are
                distributed fairly and are accessible to all. Reform of the
                telecoms sector is key to ensuring universal access. The focus
                on transforming to a digital economy is designed to bring
                improvements in productivity, efficiency, transparency, and
                accountability. On 17 June 2020, the Council of Ministers
                approved the Digital Transformation Strategy, which is aligned
                with the 2019 Reform Agenda. Central to a digital economy is a
                world class telecommunications service. The process of planning
                for the issuance of the new licenses has been the ECA’s focus
                since inception. Between 22 October 2019 and 22 November 2019,
                the ECA held a public consultation on the new regulatory
                framework which yielded helpful contributions to the ECA’s
                efforts to issue several draft directives that aim to guide the
                regulatory process and ensure that telecommunications services
                are provided to the people of Ethiopia in a manner consistent
                with the objectives of the CSP. The directives, issued for
                stakeholder consultation in both English and Amharic languages,
                elicited helpful comments both from stakeholders and the public
                that guided in the formulation of the final draft directives.
                The ECA recognized from the start the paramount importance of
                establishing a clear, consistent, fair and transparent
                regulatory environment for the success of the liberalization
                reforms. In May 2020, the ECA invited companies to submit their
                Expressions of Interest (EOI) to take part in this process. We
                received twelve EOIs, nine from telecoms operators, two from
                non-telecoms operators and one incomplete submission. The next
                step was to publish the Request for Proposals (RFP) where
                interested and qualified companies could submit their technical
                and financial bids. We issued the RFP on 27 November 2020 and
                made a public announcement, the details of which are available
                in the  HYPERLINK "https://eca.et/news/" news section of our
                website. By the deadline of April 26th 2021, two complete
                proposals had been successfully submitted. Following a rigorous
                evaluation of the offers, and in line with the rules laid out in
                the RFP, one license application made by the Global Partnership
                for Ethiopia was accepted, while the second proposal was
                rejected. The launch of another tender process for the second
                license is currently under consideration.
              </div>
            </div>

            <div class="tab">
              <input type="radio" id="rd7" name="rd" />
              <label class="tab-label" for="rd7">
                How will more competition in the telecoms sector benefit me as a
                consumer and the country in general?
              </label>
              <div class="tab-content">
                Opening up the sector to competition has many benefits for
                consumers. These will include faster, more reliable data and
                phone services, with better reach across the country than is
                currently available. With a new telecoms operator (the Global
                Partnership for Ethiopia) aiming to start providing
                telecommunications services from 2022 alongside Ethio Telecom,
                citizens and businesses will have more choice over which company
                offers them the best service for their particular needs.
                Improved connectivity will mean consumers are better placed to
                benefit from the huge opportunities presented by the digital
                economy. Improved connectivity and developing ICT usage can
                increase the efficiency and effectiveness of government and
                public services, including better governance practices and
                efficient use of resources. Additional benefits include: More
                control over personal finances through digital banking and
                digital payments Improved healthcare with more health education
                available online and doctor patient consultations possible over
                the internet or mobile phone; improved access to health
                services, especially in less populated areas, by enabling the
                use of micro-health coverage for emergency services Better
                access to quality education with learning and materials
                accessible online via phone or computer Broader consumer choice
                for goods and services and more convenient shopping experiences
                and options such as food delivery and movie streaming Expanding
                digital financial inclusion services to low-income households
                will help reduce poverty, in giving opportunities to women and
                young people, and increasing their participation in the economy
                by inducing a saving culture. Better sharing of information
                brought about by improved connectivity can also help to develop
                small and micro enterprises Increased use of ICT can also assist
                in the expansion of clean energy investments, reducing air
                pollution All of these developments and more will lead to the
                creation of significant employment opportunities in the digital
                economy.d
              </div>
            </div>

            <div class="tab">
              <input type="radio" id="rd8" name="rd" />
              <label class="tab-label" for="rd8">
                How will greater competition benefit my business?  </label
              >
              <div class="tab-content">
                Faster, more reliable connectivity will provide a significant
                boost to sectors such as manufacturing, tourism, agribusiness,
                e-commerce and the start-up ecosystem. Businesses will be able
                to develop their business models faster and operate more
                efficiently, providing a wealth of employment opportunities as
                these sectors grow. Reliable and accessible communications will
                attract both local and inward investment, creating further
                employment. Additional benefits to businesses include: More
                flexible working practices possible for staff, allowing firms to
                attract the best talent from across the country Farmers and
                agribusiness will be able to access vital real-time information
                such as livestock tracing, weather data and commodity pricing
                improving productivity Farmers will have better access to online
                loan services for the purchase of fertilizers and seeds; digital
                micro-insurance; as well as income saving and market information
                Entrepreneurs and small and medium-sized businesses will be able
                to reach new customers via online platforms and convert sales
                more easily with digital payments Construction and manufacturing
                companies will have access to real time project management
                software ensuring projects and processes are run more
                efficiently Global companies reliant on internet connectivity
                (such as GPS-operated taxi services, movie streaming, online
                music and food delivery) will enter the local market, creating
                new jobs and stimulating local investment.
              </div>
            </div>

            <div class="tab">
              <input type="radio" id="rd9" name="rd" />
              <label class="tab-label" for="rd9">
                Will this bring unfair competition to Ethio Telecom? </label
              >
              <div class="tab-content">
                Opening up the telecoms market will enable our citizens and
                businesses to be fully involved in the array of opportunities
                that a well-functioning digital economy provides, and this is
                why we have invited participation from experienced international
                telecommunications companies to offer their expertise and
                services alongside that of Ethio Telecom. This critical
                undertaking is about offering more choice to consumers and
                businesses; healthy competition helps to develop markets,
                bringing with it economic and social advantages along with new
                jobs. As stated above, the ECA has developed a legal and
                regulatory framework that aims to ensure that principles such as
                fair competition, consumer protection, and universal access are
                upheld in the public interest.  The policies will, among other
                things, ensure that Ethio Telecom’s infrastructure can be shared
                on fair and reasonable commercial terms. Also it is expected
                that the new operators (the Global Partnership for Ethiopia)
                alongside building their own infrastructure will enter into
                infrastructure and facilities sharing arrangements with each
                other in order to deploy their network coverage quickly and in a
                cost-efficient way.
              </div>
            </div>

            <div class="tab">
              <input type="radio" id="rd10" name="rd" />
              <label class="tab-label" for="rd10">
                Are you bringing in the Global Partnership for Ethiopia as part
                of the partial privatization of Ethio Telecom?</label
              >
              <div class="tab-content">
                No, any new licensees will not get involved in Ethio Telecom’s
                partial privatization. Privatization is not within the ECA’s
                mandate; the responsibility assigned to the ECA in the
                Proclamation is to oversee the liberalization and licensing
                process. Through its mandate to boost competition in the sector
                (in order to provide a better telecommunications service to the
                people of Ethiopia), the ECA was seeking two telecom business
                operators with proven expertise to improve the quality of
                service and to invest in telecommunications infrastructure and
                services. As stated in other sections of this FAQ, by the
                conclusion of the liberalization process there will be three
                telecommunications operators in Ethiopia: the incumbent operator
                Ethio Telecom, along with two new, full-service license holders.
                One license has been awarded to the Global Partnership for
                Ethiopia (announced on 22 May – click to see HYPERLINK
                "https://eca.et/2021/05/22/press-release-telecommunications-service-operator-license-award/"
                press release), and the launch of another tender process for the
                second license is currently under consideration.
              </div>
            </div>

            <div class="tab">
              <input type="radio" id="rd11" name="rd" />
              <label class="tab-label" for="rd11">
                When will we see services improve?
              </label>
              <div class="tab-content">
                The winner of the telecommunications license was announced on 22
                May, and the new operating company aims to start providing
                telecoms services from 2022. The specifics of rolling out
                services will be guided by Universal Access and Service
                Framework. The new license holder (the Global Partnership for
                Ethiopia) will be expected to rollout services in dense urban,
                urban and suburban areas, where just under a quarter of our
                population lives, within the first year of operation. Services
                in rural areas are required to be rolled out over the four years
                that follow. The licenses will be for a 15-year period with the
                prospect of renewal if all terms and conditions are met.
              </div>
            </div>
            <div class="tab">
              <input type="radio" id="rd12" name="rd" />
              <label class="tab-label" for="rd12">
                Who decides which telecom operator enters our market?
              </label>
              <div class="tab-content">
                The Ethiopian Communications Authority (ECA) was established on
                August 12, 2019 through the Communications Service Proclamation
                No. 1148/2019 (the “CSP” or “Proclamation”) as an independent
                federal government regulatory authority. The Proclamation
                mandates the ECA to regulate the telecommunications sector as
                well as promote: the development of high quality, efficient,
                reliable and affordable communications services throughout the
                nation; a competitive market for the achievement of these goals;
                both accessibility and the interests of consumers. Therefore,
                the ECA is the entity mandated to award the two new,
                full-service licenses through a competitive licensing process.
                The first license was awarded on 22 May 2021, and the launch of
                another tender process for the second license is currently under
                consideration. The ECA has appointed and is being advised by a
                highly experienced team of experts led by the International
                Finance Corporation (IFC), a member of the World Bank Group, to
                support the ECA through the process of issuing the new licenses.
                The independence of the ECA will be guaranteed through the
                exercise of the powers given to it under the Proclamation.
              </div>
            </div>
            <div class="tab">
              <input type="radio" id="rd13" name="rd" />
              <label class="tab-label" for="rd13">
                How was the winning bidder selected?
              </label>
              <div class="tab-content">
                The new licenses must be awarded to qualified telecom operators
                selected through a competitive bidding process according to the
                Tender Regulations, Technical and Financial criteria. The RFP
                was published on 27 November 2020, inviting telecom operators to
                submit proposals (bids) to take part in Ethiopia’s telecom
                market, and the submission process was closed on 26 April 2021.
                In responding to the RFP, each bidder had to comply with strict
                technical qualification criteria to demonstrate the company had
                the technical expertise required to manage a license of this
                size in Ethiopia, in addition to strict financial qualification
                criteria to show it had the resources to manage a license of
                this scale. By the deadline of April 26th 2021, two complete
                proposals had been successfully submitted. Following a rigorous
                evaluation of the offers, and in line with the rules laid out in
                the RFP, one license application made by the Global Partnership
                for Ethiopia was accepted, while the second proposal was
                rejected. The launch of another tender process for the second
                license in due course is currently under consideration.
              </div>
            </div>
            <div class="tab">
              <input type="radio" id="rd14" name="rd" />
              <label class="tab-label" for="rd14">
                Was the process of selection transparent?
              </label>
              <div class="tab-content">
                Yes, from the start the ECA recognized the paramount importance
                of establishing a clear, consistent, fair and transparent
                regulatory environment for the success of the liberalization
                reforms. Bids submitted were evaluated in accordance with the
                tender regulations, and technical and financial criteria set out
                in the RFP.  The bidding process was fully competitive, and the
                management and selection process was transparent.
              </div>
            </div>

            <div class="tab">
              <input type="radio" id="rd15" name="rd" />
              <label class="tab-label" for="rd15">
                What will the Government do to ensure access of communication
                services to all including rural coverage?
              </label>
              <div class="tab-content">
                The purpose of the liberalization is to encourage healthy
                competition in this sector, and this is expected to drive down
                costs to the consumer. We know our citizens are also unhappy
                with the reliability and quality of service they currently
                receive. It is critical to make sure that more Ethiopians have
                access to faster, more reliable, accessible data and phone
                services and that is why we are bringing in strategic partners
                for growth, with extensive experience in this area. The ECA has
                responsibility for economic regulation under the Proclamation
                and this includes Universal Access of communication services to
                all. The Authority has the power to develop annual objectives
                for Universal Access to communication services in Ethiopia. This
                is to enable the largest number of users to have access to
                telecommunications services, particularly in rural and remote
                areas of Ethiopia and there is a Universal Access Fund
                established by the Proclamation that will be used to support
                universal access to Communication Services in Ethiopia.
              </div>
            </div>

            <div class="tab">
              <input type="radio" id="rd16" name="rd" />
              <label class="tab-label" for="rd16">
                Who is advising the ECA on this process?
              </label>
              <div class="tab-content">
                The International Finance Corporation (IFC), member of the World
                Bank Group and the largest global development institution
                focused on the private sector in emerging markets, has been
                engaged to advise the ECA throughout this transaction. IFC is
                highly experienced in bringing together the right experts for a
                process of this magnitude and has identified and brought onboard
                the necessary economic, technical, legal, tax and other
                expertise.
              </div>
            </div>

            <div class="tab">
              <input type="radio" id="rd17" name="rd" />
              <label class="tab-label" for="rd17">
                How is the Covid-19 pandemic affecting the issuance of the new
                licenses and is now the right time to be doing this?
              </label>
              <div class="tab-content">
                Yes, this is still the right time. Covid-19 is not only a global
                health emergency, but it is also causing a devastating impact on
                economies around the world, with governments and businesses of
                all sizes having to make drastic changes to adapt to the rapidly
                evolving situation. The priority of our government includes
                battling the virus by saving lives, supporting the nation’s
                health workers, and containing the spread of the virus through
                testing, isolation, and promoting precautionary measures
                throughout the nation. The priority, rightly, of the winning
                bidder of the first license to be issued (the Global Partnership
                for Ethiopia), is to focus on ensuring the safety and wellbeing
                of their own employees and in steering their company through
                these unprecedented times. The ECA is well positioned to manage
                this process in a transparent and fair manner and we have
                continued working alongside our team of specialist advisors,
                doing all that is required to prepare the groundwork for a
                successful licensing round in these unprecedented times.
                Effective telecommunications have a vital role to play in
                disaster and risk management as well as in unlocking the
                transformational power of the digital economy. Information
                technology is needed to deliver early warnings and regular
                public health information updates to citizens, and
                telecommunications networks to allow for the fast and smooth
                management of emergency communications. A reliable and
                accessible telecommunications network would provide tools and
                technology to assist our health workers in performing their
                vital duties. We could also keep our healthcare providers safe
                by enabling more people to work from home and help millions of
                students to continue their studies through online learning
                platforms. Introducing competition to the sector has never been
                more important than the current moment. Effective
                telecommunications are also core to the recovery of the economy
                post pandemic and in driving the planned digital transformation
                forward. ENDS
              </div>
            </div>

            <div class="tab">
              <input type="radio" id="rd3" name="rd" />
              <label for="rd3" class="tab-close">Close others &times;</label>
            </div>
          </div>
        </div>
      </div>
    </main>

    <%- include('nav'); -%> <%- include('footer'); -%>
    <script src="dist/scripts/app-0b1e4679f438944fb96c.js"></script>
    <!-- <script type='text/javascript'>
    var lastScrollTop=0;
    navbar=document.getElementById('nav-holder');
    window.addEventListener("scroll",function(){
      var scrollTop=window.pageYOffset || document.getElement.scrollTop;
   if(scrollTop > lastScrollTop){
     navbar.style.top='-110px'
   }
   else{
    navbar.style.top='0'
   }
   lastScrollTop=scrollTop;
    })
  
    </script> -->
  </body>
</html>
