<footer class="footer">
 <div class="footer__social-icons" >
    <ul style="padding-top:50px;">
      <li>
        <a
          href=""
          class="social-icon"
          target="_blank"
          rel="noopener noreferrer"
        >
          <span class="u-isVisuallyHidden">Facebook</span>
          <svg>
            <use xlink:href="#sprites_social-g" />
          </svg>
        </a>
      </li>
      <li>
        <a
          href=""
          class="social-icon"
          target="_blank"
          rel="noopener noreferrer"
        >
          <span class="u-isVisuallyHidden">Twitter</span>
          <svg>
            <use xlink:href="#sprites_social-twitter" />
          </svg>
        </a>
      </li>
      <li>
        <a
          href=""
          class="social-icon"
          target="_blank"
          rel="noopener noreferrer"
        >
          <span class="u-isVisuallyHidden">Instagram</span>
          <svg>
            <use xlink:href="#sprites_social-instagram" />
          </svg>
        </a>
      </li>
      <li>
        <a
          href=""
          class="social-icon"
          target="_blank"
          rel="noopener noreferrer"
        >
          <span class="u-isVisuallyHidden">LinkedIn</span>
          <svg>
            <use xlink:href="#sprites_social-linkedin" />
          </svg>
        </a>
      </li>
      <li>
        <a
          href=""
          class="social-icon"
          target="_blank"
          rel="noopener noreferrer"
        >
          <span class="u-isVisuallyHidden">YouTube</span>
          <svg>
            <use xlink:href="#sprites_social-youtube" />
          </svg>
        </a>
      </li>
    </ul>
  </div> <div class="footer__section footer__section--top">
    <div
      class="scroll-btn scroll-btn--label scroll-btn--up is-visible js-back-to-top-link"
    >
      <div class="scroll-btn__label link">Back to Top</div>
    </div>
    <div class="footer__blocks" style="grid-template-columns: 1fr 1fr 1fr 1fr">
       <div class="footer__block">
        <div class="footer-links">
          <h4 class="footer-links__heading">
            <a href="about  " class="footer-links__heading" style="border: none"
              >About us</a
            >
          </h4>
        </div>
      </div>
      
    

    
      <div class="footer__block">
        <div class="footer-links">
          <h4 class="footer-links__heading">
            <a
              href=" resource  #guide-lines"
              class="footer-links__heading"
              style="border: none"
              >Survices</a
            >
          </h4>
        </div>
      </div>
      <div class="footer__block">
        <div class="footer-links">
          <h4 class="footer-links__heading">
            <a
              href=" about  #mission"
              class="footer-links__heading"
              style="border: none"
              >Resources</a
            >
          </h4>
        </div>
      </div>
      <div class="footer__block">
        <div class="footer-links">
          <h4 class="footer-links__heading">
            <a
              href="/guide"
              class="footer-links__heading"
              style="border: none"
              >Consumer Affairs</a
            >
          </h4>
        </div>
      </div>
      <div class="footer__block">
        <div class="footer-links">
          <h4 class="footer-links__heading">
            <a href="/postal" class="footer-links__heading" style="border: none"
              >Publications</a
            >
          </h4>
        </div>
      </div>

      <div class="footer__block">
        <div class="footer-links">
          <h4 class="footer-links__heading">
            <a
              href="/news"
              class="footer-links__heading"
              style="border: none"
            >
              Media Center</a
            >
          </h4>
        </div>
      </div>
      <div class="footer__block">
        <div class="footer-links">
          <h4 class="footer-links__heading">
            <a
              href="/contact"
              class="footer-links__heading"
              style="border: none"
              >Contact</a
            >
          </h4>
        </div>
      </div>
      <div class="footer__block">
        <div class="footer-links">
          <h4 class="footer-links__heading">
            <a
              href="/faq"
              class="footer-links__heading"
              style="border: none"
            >
              FAQ</a
            >
          </h4>
        </div>
      </div>

      
    </div>
  </div>
  
  <div
    class="footer__section footer__section--bottom"
    style="margin-top: 70px"
  ></div>
</footer>
