<!DOCTYPE html>
<html lang="en" class="no-js">
  <%- include('header'); -%>
  
<body class=" ">
 
  <%- include('nav'); -%>
  <main class="l-main overlay" id="main-content" tabindex="-1" role="main">
    <section class="l-content-w-sidebar ">
      <div class="l-content-w-sidebar__sidebar l-content-w-sidebar__sidebar--w-nav">
        <nav class="sidebar-nav">
          <div class="sidebar-nav__nav-items"> <a href="">
            Rights and obligations</a>
            <a href="#consumer-awareness">
              Consumer Awareness</a>
            <a href="#compliant">
              Complaint Handling</a>
              <a href="#dispute">
                Dispute Resolution</a>
  

          </div>
        </nav>
        <aside class="l-extra-sidebar-content"></aside>
      </div>
      <section class="l-content-w-sidebar__content ">
        <section class="l-content-w-sidebar__inner-content" style='padding-top:30px'>
          <div class="l-content l-content--about-innovation" id='rights'>

            <h1 class="heading heading--l">Consumer Rights and Obligations</h1>

            <div class="l-content-grid l-content-grid--10-0 l-content-grid--introduction">
              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong">The Ethiopian Communications Authority issued Telecommunications Consumer Rights and Protection Directive No. 832/2021 pursuant to the requirements set forth in the Communications Proclamation No. 4811/2019. The objective is to ensure rights and interest of Telecommunications services are protected including their rights to information, privacy, safety, choice, redress, Consumer education, and qualitative products and services. The following consumer rights and obligation are an inherent part of such directive.
                </p>
              </div>
            </div>


            <div class="hr"></div>

      



          </div>
          <div class="l-content l-content--about-innovation">

            <h1 class="heading heading--l">Complaint Handling</h1>

            <div class="l-content-grid l-content-grid--10-0 l-content-grid--introduction">
              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                  reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                  cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
              </div>
            </div>

            <section class="l-content-grid l-content-grid--10-0 l-content-grid--text">
              <div class="l-content-grid__col">
                <article class="text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                </article>
              </div>
            </section>

            <div class="hr"></div>

            <section class="l-content-grid l-content-grid--10-0 l-content-grid--text">
              <div class="l-content-grid__col">
                <article class="text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                </article>
              </div>
            </section>




          </div>
          <div class="l-content l-content--about-innovation" id="consumer-awareness">

            <h1 class="heading heading--l">Consumer Awareness</h1>

            <div class="l-content-grid l-content-grid--10-0 l-content-grid--introduction">
              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                  reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                  cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
              </div>
            </div>

            <section class="l-content-grid l-content-grid--10-0 l-content-grid--text">
              <div class="l-content-grid__col">
                <article class="text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                </article>
              </div>
            </section>

            <div class="hr"></div>

            <section class="l-content-grid l-content-grid--10-0 l-content-grid--text">
              <div class="l-content-grid__col">
                <article class="text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                </article>
              </div>
            </section>




          </div>
          
          <div class="l-content l-content--about-innovation" id="dispute">

            <h1 class="heading heading--l">	Dispute Resolution
              </h1>

            <div class="l-content-grid l-content-grid--10-0 l-content-grid--introduction">
              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                  reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                  cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
              </div>
            </div>

            <section class="l-content-grid l-content-grid--10-0 l-content-grid--text">
              <div class="l-content-grid__col">
                <article class="text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                </article>
              </div>
            </section>

            <div class="hr"></div>

            <section class="l-content-grid l-content-grid--10-0 l-content-grid--text">
              <div class="l-content-grid__col">
                <article class="text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                </article>
              </div>
            </section>




          </div>
        </section>
      </section>
    </section>    <%- include('footer'); -%>
  </main>
  </div>

  <script src="dist/scripts/app-0b1e4679f438944fb96c.js"></script>
</body>

</html>