<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <script
    src="https://kit.fontawesome.com/64d58efce2.js"
    crossorigin="anonymous"
  ></script>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="dist/styles/main-7d44cc332e.css" />
  <link rel="stylesheet" href="new-nav.css" />
  <script>
    // Picture element HTML5 shiv
    document.createElement("picture");
  </script>
  <title>Ethiopian Communications Authorites</title>
  <meta name="generator" content="SEOmatic" />
  <meta name="keywords" content="home" />
  <meta name="description" content="" />
  <meta name="referrer" content="no-referrer-when-downgrade" />
  <meta name="robots" content="all" />
  <meta content="" property="fb:profile_id" />
  <meta content="" property="fb:app_id" />
  <meta content="" property="og:locale" />
  <meta content="" property="og:site_name" />
  <meta content="website" property="og:type" />
  <meta content="" property="og:url" />
  <meta content="" property="og:title" />
  <meta content="" property="og:description" />
  <meta content="" property="og:image" />
  <meta content="1200" property="og:image:width" />
  <meta content="568" property="og:image:height" />
  <meta content="" property="og:image:alt" />
  <meta content="" property="og:see_also" />
  <meta content="" property="og:see_also" />
  <meta content="" property="og:see_also" />
  <meta content="" property="og:see_also" />
  <meta content="" property="og:see_also" />
  <meta name="" content="summary_large_image" />
  <meta name="" content="" />
  <meta name="" content="" />
  <meta name="" content="" />
  <meta name="" content="" />
  <meta name="" content="" />
  <meta name="" content="800" />
  <meta name="" content="378" />
  <meta name="" content="Home" />
  <link href="" rel="canonical" />
  <link href="" rel="home" />
  <link rel="stylesheet" href="dist/styles/new-styles.css" />
</head>
