<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="new-nav.css" />
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <link
      href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css"
      rel="stylesheet"
    />
  </head>

  <header>
    <div class="container">
      <nav>
        <div class="menu-icons">
          <i class="icon ion-md-menu"></i>
          <i class="icon ion-md-close"></i>
        </div>
        <ul class="nav-list">
          <li>
            <a href=""> About Us</a>
          </li>
          <li>
            <a href=""> Services</a>
            <ul class="sub-menu">
              <li>
                <a href=""
                  >Telecommunications Services</a
                >
                <ul class="sub-menu">
                  <li>
                    <a href="">Licensing</a>
                  </li>
                  <li>
                    <a href=""
                      >Radio Frequency Spectrum
                    </a>
                  </li>
                  <li>
                    <a href="">Type Approval</a>
                  </li>
                  <li>
                    <a href="">Numbering</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href=""
                  >Postal Services
                  <i
                    class="icon ion-md-arrow-dropdown"
                  ></i>
                </a>
                <ul class="sub-menu">
                  <li>
                    <a href=""
                      >Licensing
                      <i
                        class="icon ion-md-arrow-dropdown"
                      ></i>
                    </a>
                    <ul class="sub-menu">
                      <li>
                        <a href=""
                          >National Postal Service
                          Operator License</a
                        >
                      </li>
                      <li>
                        <a href="">
                          Courier Postal Service
                          License</a
                        >
                      </li>
                      <li>
                        <a href="">
                          Courier Postal Service
                          License</a
                        >
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <a href=""
                  >Information Technology Services
                </a>
                <ul class="sub-menu">
                  <li>
                    <a href="">IP Address </a>
                  </li>
                  <li>
                    <a href=""
                      >Domain Name System</a
                    >
                  </li>
                  <li>
                    <a href=""
                      >Government Certification
                      Authority</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a href="">Resources</a>
            <ul class="sub-menu">
              <li>
                <a href="">Policy</a>
              </li>
              <li>
                <a href="">Laws</a>
              </li>
              <li>
                <a href=""> Regulations</a>
              </li>
              <li>
                <a href=""> Directives</a>
              </li>
              <li>
                <a href=""> Frameworks </a>
              </li>
              <li>
                <a href=""> Guidelines</a>
              </li>
              <li>
                <a href=""> Standards</a>
              </li>
              <li>
                <a href=""
                  >Public Consultations</a
                >
              </li>
            </ul>
          </li>
          <li>
            <a href="">Consumer Affairs</a>
            <ul class="sub-menu">
              <li>
                <a href=""
                  >Rights and obligations</a
                >
              </li>
              <li>
                <a href="">Complaint Handling </a>
              </li>
              <li>
                <a href=""> Dispute Resolution</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="">Publications</a>
            <ul class="sub-menu">
              <li>
                <a href=""> Reports </a>
              </li>
              <li>
                <a href=""> Journals </a>
              </li>
              <li>
                <a href="">Statistics</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="">Media Center </a>
            <ul class="sub-menu">
              <li>
                <a href="">News</a>
              </li>
              <li>
                <a href=""> Public Notice</a>
              </li>
              <li>
                <a href=""> Events</a>
              </li>
              <li>
                <a href=""> Gallery </a>
              </li>
              <li>
                <a href="">
                  Speech and Presentations</a
                >
              </li>
              <li>
                <a href=""> Standards</a>
              </li>
              <li>
                <a href="">
                  Public Consultations</a
                >
              </li>
            </ul>
          </li>
          <li class="move-right btn">
            <a href="">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
</html>
