<!DOCTYPE html>
<html lang="en" class="no-js">

  <%- include('header'); -%>
  

<body class=" "> 
  <%- include('nav'); -%>
  <div aria-hidden="true" class="nav-drawer" id="NavDrawer" data-nav-drawer>
    <div class="nav-drawer__header">
      <div class="nav-drawer__branding">
        <a href="index.html" class="eca-logo eca-logo--small"> <span class="u-isVisuallyHidden">ECA</span>
          <img src="logo-white.png">
        </a>
      </div>
      <button aria-controls="narrow-nav" aria-expanded="false" class="nav-drawer__trigger u-type-label"
        data-nav-drawer-toggle> <span class="u-isVisuallyHidden">Dismiss Navigation</span>
        <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true" focusable="false">
          <path d="M1 30L30 1" stroke="white" stroke-width="2" />
          <path d="M30 30L1 1" stroke="white" stroke-width="2" />
        </svg>
      </button>
    </div>
    <div class="nav-drawer__content">
      <nav class="v-nav">
        <ul class="v-nav__list">
          <li class="v-nav__item u-type-h3"> <a href="" class="v-nav__link">About us</a>
          </li>
          <li class="v-nav__item u-type-h3"> <a href="" class="v-nav__link">Knowledge Center</a>
          </li>
          <li class="v-nav__item u-type-h3"> <a href="" class="v-nav__link">Guidelines</a>
          </li>
          <li class="v-nav__item u-type-h3"> <a href="" class="v-nav__link">Services</a>
          </li>
          <li class="v-nav__item u-type-h3"> <a href="" class="v-nav__link">Postal</a>
          </li>
          <li class="v-nav__item u-type-h3"> <a href="" class="v-nav__link">Media center</a>
          </li>
          <li class="v-nav__item u-type-h3"> <a href="" class="v-nav__link">Consumer Affairs</a>
          </li>

        </ul>
      </nav>
    </div>
  </div>
  </header>
  <main class="l-main" id="main-content" tabindex="-1" role="main">
    <section class="l-content-w-sidebar ">
      <div class="l-content-w-sidebar__sidebar l-content-w-sidebar__sidebar--w-nav">
        <nav class="sidebar-nav">
          <!-- <div class="sidebar-nav__nav-items"> <a href="">
Frequency Licensing
</a>
               <a href="">
VAS</a>

  <a href="">
Type approval</a>




              
              
            </div> -->
          <div class="sidebar-nav__nav-items"> <a href="services.html" class="is-active">Telecommunications Services</a>
            <div class="sidebar-nav__tertiary"><a href="#licensing">Licensing </a>
              <div class="sidebar-nav__tertiary">
                <a href="#individual-licenses" style='font-size:12px;'>Individual Licenses</a>
                <a href="#class-licenses" style='font-size:12px;'> Class Licenses</a>

              </div>
            </div>
            <div class="sidebar-nav__tertiary">
              <a href="#frequency">Radio Frequency Spectrum </a>
              <div class="sidebar-nav__tertiary">
                <a href="#lmr" style='font-size:12px;'>Land Mobile Radio (LMR) License</a>
                <a href="#brodcastig-fr" style='font-size:12px;'> Broadcasting Frequencies</a>
                <a href="#micro-link" style='font-size:12px;'> Microwave and Link Frequencies</a>
                <a href="#national-fr" style='font-size:12px;'>National Frequency Allocation Table (NFAT)</a>


              </div>
            </div>


            <div class="sidebar-nav__tertiary">

              <a href="#type ">Type Approval</a>
            </div>
            <div class="sidebar-nav__tertiary">


              <a href="#numbering">Numbering</a>
              <div class="sidebar-nav__tertiary">
                <a href="#national-numbering" style='font-size:12px;'>National Numbering Plan</a>
              </div>
              <div class="sidebar-nav__tertiary">
                <a href="#short-rande-numbers" style='font-size:12px;'>Short Range Numbers</a>
              </div>


            </div>
            <div class="sidebar-nav__tertiary">

              <a href="#postal">Postal Services</a>
            </div>
            <div class="sidebar-nav__tertiary">

              <a href="#information">Information Technology Services </a>
              <div class="sidebar-nav__tertiary">

                <a href="#ip-adress " style='font-size:12px;'>IP Address </a>
              </div>
              <div class="sidebar-nav__tertiary">

                <a href="#domain-name" style='font-size:12px;'> Domain Name System</a>
              </div>
              <div class="sidebar-nav__tertiary">

                <a href="#govt-certefication" style='font-size:12px;'>Government Certification Authority</a>
              </div>
            </div>

          </div>
        </nav>
        <aside class="l-extra-sidebar-content"></aside>
      </div>
      <section class="l-content-w-sidebar__content ">
        <section class="l-content-w-sidebar__inner-content">
          <div class="l-content l-content--about-innovation" id='licensing'>

            <h1 class="heading heading--l">Licensing</h1>
            <div class="l-content-grid l-content-grid--10-0 l-content-grid--introduction" id='individual-licenses'>
              <h1 class=" heading--small">
                Telecommunications Licensing Directive No. 792-2021 
              </h1>

              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong"> WHEREAS a legal framework for licensing that will allow for an effective and efficient licensing process is necessary for the operation of Telecommunications systems, infrastructures, and Telecommunications Services;
                
                </p>
<a href="./files/Telecommunications Licensing Directive No. 792-2021 (English).pdf" targe="_blank">Read more.</a>
              </div>
              <div>

              </div>


              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong"> <span style='color:#000'>
                    • Unified Telecommunications Service License
                  </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                  labore et dolore magna aliqua. Ut enim ad minim veniam
                </p>

              </div>
            </div>
            <div class="l-content-grid l-content-grid--10-0 l-content-grid--introduction"
              style='margin-top:40px !important' id='class-licenses'>
              <h1 class=" heading--small">
                Class Licensing
              </h1>
              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong"> <span style='color:#000'>
                    • Internet Service Provider License
                  </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                  labore et dolore magna aliqua. Ut enim ad minim veniam
                </p>

              </div>
             
              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong"> <span style='color:#000'>
                    • Data Center Service Provider License
                  </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                  labore et dolore magna aliqua. Ut enim ad minim veniam
                </p>

              </div>
              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong"> <span style='color:#000'>
                  •	Hosting Service Provider License
                  </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                  labore et dolore magna aliqua. Ut enim ad minim veniam
                </p>

              </div>
              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong"> <span style='color:#000'>
                  •	Call Center Service License
                  </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                  labore et dolore magna aliqua. Ut enim ad minim veniam
                </p>

              </div>
              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong"> <span style='color:#000'>
                  •	Value Added Service License
                  </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                  labore et dolore magna aliqua. Ut enim ad minim veniam
                </p>

              </div>
              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong"> <span style='color:#000'>
                  •	Virtual Internet Service Providers (VISP) License
                  </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                  labore et dolore magna aliqua. Ut enim ad minim veniam
                </p>

              </div>
              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong"> <span style='color:#000'>
                  •	 Very Small Aperture Terminal (VSAT) License
                  </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                  labore et dolore magna aliqua. Ut enim ad minim veniam
                </p>

              </div>
              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong"> <span style='color:#000'>
                  •	Global Mobile Personal Communications by Satellite (GMPCS) Landing Right Authorization
                  </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                  labore et dolore magna aliqua. Ut enim ad minim veniam
                </p>

              </div>
              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong"> <span style='color:#000'>
                  •	Private Networks and Closed User Group (CUG) Authorization
                  </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                  labore et dolore magna aliqua. Ut enim ad minim veniam
                </p>

              </div>
              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong"> <span style='color:#000'>
                  •	Satellite News Gathering (SNG) License 
                  </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                  labore et dolore magna aliqua. Ut enim ad minim veniam
                </p>

              </div> <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong"> <span style='color:#000'>
                  •	Indoor Telecommunications Facilities Installation and Maintenance Works License
                  </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                  labore et dolore magna aliqua. Ut enim ad minim veniam
                </p>

              </div>
              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong"> <span style='color:#000'>
                    •	Outdoor Telecommunications Facilities Installation and Maintenance Works License 
                  </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                  labore et dolore magna aliqua. Ut enim ad minim veniam
                </p>

              </div>

             
              
            </div>

            <section class="l-content-grid l-content-grid--10-0 l-content-grid--text">
              <div class="l-content-grid__col">
                <article class="text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                </article>
              </div>
            </section>

            <div class="hr"></div>

            <section class="l-content-grid l-content-grid--10-0 l-content-grid--text">
              <div class="l-content-grid__col">
                <article class="text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                </article>
              </div>
            </section>




          </div>

          <div class="l-content l-content--about-innovation" id='frequency'>

            <h1 class="heading heading--l">Radio Frequency Spectrum</h1>
            <div class="l-content-grid l-content-grid--10-0 l-content-grid--introduction" id='lmr'>
              <h1 class=" heading--small">
                Land Mobile Radio (LMR) License
              </h1>
              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                  reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                  cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
              </div>
            </div>
            <div class="l-content-grid l-content-grid--10-0 l-content-grid--introduction"
              style='margin-top:40px !important' id='brodcastig-fr'>
              <h1 class=" heading--small">
                Broadcasting Frequencies
              </h1>
              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                  reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                  cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
              </div>
            </div>
            <div class="l-content-grid l-content-grid--10-0 l-content-grid--introduction"
              style='margin-top:40px !important' id='micro-link'>
              <h1 class=" heading--small">
                Microwave and Link Frequencies
              </h1>
              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                  reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                  cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
              </div>
            </div>
            <div class="l-content-grid l-content-grid--10-0 l-content-grid--introduction"
              style='margin-top:40px !important' id='national-fr'>
              <h1 class=" heading--small">
                National Frequency Allocation Table (NFAT)
              </h1>
              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                  reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                  cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
              </div>
            </div>

            <section class="l-content-grid l-content-grid--10-0 l-content-grid--text">
              <div class="l-content-grid__col">
                <article class="text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                </article>
              </div>
            </section>

            <div class="hr"></div>

            <section class="l-content-grid l-content-grid--10-0 l-content-grid--text">
              <div class="l-content-grid__col">
                <article class="text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                </article>
              </div>
            </section>




          </div>
          <div class="l-content l-content--about-innovation" id='type'>

            <h1 class="heading heading--l">Type Approval</h1>

            <div class="l-content-grid l-content-grid--10-0 l-content-grid--introduction">
              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                  reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                  cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
              </div>
            </div>

            <section class="l-content-grid l-content-grid--10-0 l-content-grid--text">
              <div class="l-content-grid__col">
                <article class="text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                </article>
              </div>
            </section>

            <div class="hr"></div>

            <section class="l-content-grid l-content-grid--10-0 l-content-grid--text">
              <div class="l-content-grid__col">
                <article class="text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                </article>
              </div>
            </section>




          </div>


          <div class="l-content l-content--about-innovation" id='numbering'>

            <h1 class="heading heading--l">Numbering</h1>
            <div class="l-content-grid l-content-grid--10-0 l-content-grid--introduction" id='national-numbering'>
              <h1 class=" heading--small">
                National Numbering Plan
              </h1>
              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                  reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                  cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
              </div>
            </div>
            <div class="l-content-grid l-content-grid--10-0 l-content-grid--introduction"
              style='margin-top:40px !important' id='short-rande-numbers'>
              <h1 class=" heading--small">
                Short Range Numbers
              </h1>
              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                  reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                  cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
              </div>
            </div>


            <section class="l-content-grid l-content-grid--10-0 l-content-grid--text">
              <div class="l-content-grid__col">
                <article class="text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                </article>
              </div>
            </section>

            <div class="hr"></div>

            <section class="l-content-grid l-content-grid--10-0 l-content-grid--text">
              <div class="l-content-grid__col">
                <article class="text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                </article>
              </div>
            </section>




          </div>
          <div class="l-content l-content--about-innovation" id='postal'>

            <h1 class="heading heading--l">Postal Services</h1>
            <h1 class=" heading--small">Licensing</h1>
            <div class="l-content-grid l-content-grid--10-0 l-content-grid--introduction" id='national-postal-service'>
              <h1 class=" heading--small">
                	National Postal Service Operator License
              </h1>
              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                  reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                  cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
              </div>
            </div>
            <div class="l-content-grid l-content-grid--10-0 l-content-grid--introduction" id='courier'>
              <h1 class=" heading--small">
                Courier Service License
              </h1>
              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                  reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                  cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
              </div>
            </div>

            <div class="l-content-grid l-content-grid--10-0 l-content-grid--introduction">
              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                  reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                  cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
              </div>
            </div>

            <section class="l-content-grid l-content-grid--10-0 l-content-grid--text">
              <div class="l-content-grid__col">
                <article class="text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                </article>
              </div>
            </section>

            <div class="hr"></div>

            <section class="l-content-grid l-content-grid--10-0 l-content-grid--text">
              <div class="l-content-grid__col">
                <article class="text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                </article>
              </div>
            </section>



          </div>

          <div class="l-content l-content--about-innovation" id='information'>

            <h1 class="heading heading--l">Information Technology Services</h1>
            <div class="l-content-grid l-content-grid--10-0 l-content-grid--introduction" id='ip-adress'>
              <h1 class=" heading--small">
                IP Address
              </h1>
              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                  reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                  cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
              </div>
            </div>
            <div class="l-content-grid l-content-grid--10-0 l-content-grid--introduction"
              style='margin-top:40px !important' id='domain-name'>
              <h1 class=" heading--small">
                Domain Name System
              </h1>
              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                  reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                  cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
              </div>
            </div>
            <div class="l-content-grid l-content-grid--10-0 l-content-grid--introduction"
              style='margin-top:40px !important' id='govt-certefication'>
              <h1 class=" heading--small">
                Government Certification Authority
              </h1>
              <div class="l-content-grid__col">
                <p class="intro intro--m intro--strong">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                  reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                  cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
              </div>
            </div>

            <section class="l-content-grid l-content-grid--10-0 l-content-grid--text">
              <div class="l-content-grid__col">
                <article class="text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                </article>
              </div>
            </section>

            <div class="hr"></div>

            <section class="l-content-grid l-content-grid--10-0 l-content-grid--text">
              <div class="l-content-grid__col">
                <article class="text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                  </p>
                </article>
              </div>
            </section>




          </div>
        </section>
      </section>
    </section>
    <footer class="footer " >
      <div class="footer__section footer__section--top">
        <div class="scroll-btn scroll-btn--label scroll-btn--up is-visible js-back-to-top-link">
          <div class="scroll-btn__label link">Back to Top</div>
        </div>
        <div class="footer__blocks" style='grid-template-columns: 1fr 1fr 1fr 1fr ;'>
          <div class="footer__block">
            <div class="footer-links">
              <h4 class="footer-links__heading"><a href="contact.html" class="footer-links__heading" style="border: none;">Contact</a></h4>
             
            </div>
            

          </div>
          
          <div class="footer__block">
            <div class="footer-links">
              <h4 class="footer-links__heading">
                <a href="about.html" class="footer-links__heading" style="border: none;">About us</a>
                </h4>
           
            </div>
          </div>
          <div class="footer__block">
            <div class="footer-links">
              <h4 class="footer-links__heading">
                <a href=" resource.html#guide-lines" class="footer-links__heading" style="border: none;">Guidelines</a>
               
                </h4>
            
            </div>
          </div>
          <div class="footer__block">
            <div class="footer-links">
              <h4 class="footer-links__heading">
                <a href=" about.html#mission" class="footer-links__heading" style="border: none;">Careers</a>
               
                </h4>
             
            </div>

          </div>
          <div class="footer__block">
            <div class="footer-links">
              <h4 class="footer-links__heading">
                <a href="postal.html" class="footer-links__heading" style="border: none;">Postal</a>
            
                </h4>
              
            </div>

          </div>
          <div class="footer__block">
            <div class="footer-links">
              <h4 class="footer-links__heading">
                <a href="news.html" class="footer-links__heading" style="border: none;">Media center</a>
            </h4>
            
            </div>


          </div>


          <div class="footer__block">
            <div class="footer-links">
              <h4 class="footer-links__heading">
                <a href="resource.html#laws" class="footer-links__heading" style="border: none;"> Knowledge Center</a>
                
               </h4>
              
            </div>
          </div>

          <div class="footer__block">
            <div class="footer-links">
              <h4 class="footer-links__heading">
                <a href="  guide.html" class="footer-links__heading" style="border: none;"> Consumer Affairs</a>
                
              
                
                </h4>

             

            </div>
          </div>
          
        </div>
      </div>
      <div class="footer__social-icons">
        <ul>
          <li>
            <a href="" class="social-icon" target="_blank" rel="noopener noreferrer"> <span
                class="u-isVisuallyHidden">Facebook</span>
              <svg>
                <use xlink:href="#sprites_social-g" />
              </svg>
            </a>
          </li>
          <li>
            <a href="" class="social-icon" target="_blank" rel="noopener noreferrer"> <span
                class="u-isVisuallyHidden">Twitter</span>
              <svg>
                <use xlink:href="#sprites_social-twitter" />
              </svg>
            </a>
          </li>
          <li>
            <a href="" class="social-icon" target="_blank" rel="noopener noreferrer"> <span
                class="u-isVisuallyHidden">Instagram</span>
              <svg>
                <use xlink:href="#sprites_social-instagram" />
              </svg>
            </a>
          </li>
          <li>
            <a href="" class="social-icon" target="_blank" rel="noopener noreferrer"> <span
                class="u-isVisuallyHidden">LinkedIn</span>
              <svg>
                <use xlink:href="#sprites_social-linkedin" />
              </svg>
            </a>
          </li>
          <li>
            <a href="" class="social-icon" target="_blank" rel="noopener noreferrer"> <span
                class="u-isVisuallyHidden">YouTube</span>
              <svg>
                <use xlink:href="#sprites_social-youtube" />
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__section footer__section--bottom" style='margin-top:70px;'>


      </div>
    </footer>
  </main>
  </div>

  <script src="dist/scripts/app-0b1e4679f438944fb96c.js"></script>
  <!-- <script type='text/javascript'>
    var lastScrollTop=0;
    navbar=document.getElementById('nav-holder');
    window.addEventListener("scroll",function(){
      var scrollTop=window.pageYOffset || document.getElement.scrollTop;
   if(scrollTop > lastScrollTop){
     navbar.style.top='-110px'
   }
   else{
    navbar.style.top='0'
   }
   lastScrollTop=scrollTop;
    })
  
    </script> -->
</body>

</html>